/* Paths */
$pathToImg: "/images/";

/* Colors */
$cGold: #c8af72;
$cGoldDark: #b59852;
$cRed: #e54b4b;
$cBrightRed: #ff0012;
$cGrey: #f2f2f2;
$cBoldGrey: #eee;
$cWhite: white;
$cBlBack: black;
$cDark: #333333;
$transitionTime: 0.2s;

$animTime: 0.5s;

$font-family-base: LatoWeb, sans-seref;
$font-size-base: 1.4rem;
$line-height-base: 1.5;
$text-color: #000;
