@import '../variables';

.home {
  &__wrapper {
    width: 100rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 10rem;
    position: relative;
  }
  &__buttons {
    position: absolute;
    top: 8rem;
    right: -3rem;
    font-size: 2.2rem;
    font-weight: bold;
    button{
      display: block;
    }
  }
}
  .game-info{
    font-size: 2.2rem;
    font-weight: bold;
    position: absolute;
    left: -3rem;
    top: 10rem;
    text-align: left;
    line-height: 2;
  }
  .alert{
    font-size: 2.2rem;
    font-weight: bold;
    visibility: hidden;
    padding: 1rem 0;
    border-radius: .5rem;
    text-align: center;
    position: absolute;
    width: 70rem;
    left: 15rem;
    top: 2.5rem;
    &.show{
      visibility: visible;
    }
    &.yes{
      background: $green;
    }
    &.no{
      background: $orange;
    }
    &.neutral{
      background: $grey;
    }
    &.celebrate{
      background: linear-gradient(45deg, $green, $orange, $purple);
      color: $white;
    }
  }