@import '../variables';

.rules{
  width: 90rem;
  margin: 5rem auto;
  background: $white;
  border: 2px solid $brightPurple;
  padding: 4rem 3rem;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  button{
    margin-top: 0;
    margin-right: 1rem;
  }
  img{
    width: 45rem;
    display: block;
  }
  .alert{
    position: static;
    margin-bottom: 1rem;
  }
}